body {
    background: #112;
}

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    color: #DA0;
    font-size: 7em;
    text-align: center;
}

btn {
    font-size: 5em;
    text-align: center;
    background: #666;
    color: #DDD;
}

@media (max-width: 992px) {
    h1 {
        font-size: 5em;
    }
    btn {
        font-size: 4em;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 3em;
    }
    btn {
        font-size: 4em;
    }
}
