body {
  background: #112;
}

* {
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  position: relative;
  margin: auto;
  color: #DA0;
  font-size: 5em;
  text-align: center;
  font-family: sevenelevenserifregular;
  transition-duration: 500ms;
}

button {
  margin: auto;
  font-size: 5em;
  text-align: center;
  background: #202020;
  color: #999;
  min-width: 200px;
  transition-duration: 500ms;
}

button:hover, button:active {
  color: #DDD;
  background: #AE9651;
}


img {
  margin: auto;
  position: relative;
}

@media (max-width: 992px) {
  h1 {
    font-size: 4em;
  }
  button {
    font-size: 4em;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  button {
    font-size: 2em;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-horizontally {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
    font-family: 'sevenelevenserifregular';
    src: url('SevenElevenSerif.otf') format('opentype');
    font-weight: bold;
}
